<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://freepngimg.com/thumb/categories/2275.png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="theme-color" content="#e5a43c" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>
            Hello, my name is <b>Tosin</b> a <b>Fullstack Developer</b>.
        </p>
        <p>
            You want us to talk? Awesome! You can reach me on those platforms below, let's create magic together! Smile.
        </p>
        <img class="portrait" src="/img/dark.jpg">
    </div>

    {{>footer}}
</body>

</html>