<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://freepngimg.com/thumb/categories/2275.png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="goldenrod" />
</head>

<body>
    <style>
        p,
        ul {
            text-align: justify;
            width: 310px;
            line-height: 1.7rem;
        }
    </style>
    <div class="main-content">
        {{>header}}
        <p>
            To use this app, just input the location you are interested in the weather forecast, and Voila! You get your
            forecast.
        </p>
        <p>Easy right? Smile, I know.</p>
    </div>

    {{>footer}}
</body>

</html>