<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <style>
        p, ul {
            text-align: justify;
            width: 310px;
            line-height: 1.7rem;
        }
    </style>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <ul>
            <li>Input the location of interest into the text box,</li>
            <li>Provide detailed location to increase precision,</li>
            <li>Click the search button,</li>
            <li>Get your report.</li>
        </ul>
    </div>

    {{>footer}}
</body>

</html>