<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://freepngimg.com/thumb/categories/2275.png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="theme-color" content="#e5a43c" />
</head>

<body>
    <div class="main-content">
        {{>header}}

        <form>
            <label for="form__input">Input interested location</label>
            <div>
                <input id="form__input" placeholder="Location">
                <button>
                    Search
                    <span id="loading"></span>
                </button>
            </div>
        </form>

        <p id="message-1" style="font-weight: bold;"></p>
        <P id="message-2"></P>
        <p id="message-3"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>