<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <style>
        p {
            text-align: justify;
            width: 310px;
            line-height: 2rem;
        }
    </style>
    <div class="main-content">
        {{>header}}

        <p style="text-align:center;">Use this site to get your weather report</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1" style="font-weight: bold;"></p>
        <P id="message-2"></P><br>
        <p id="message-3"></p>
    </div>

    {{>footer}}
    
    <script src="/js/app.js"></script>
</body>
    
</html>