<header>
    <h1 style="text-align:center;">
        <img src="https://freepngimg.com/thumb/categories/2275.png" alt="" />
        {{title}}
    </h1>
    <h4>Be dry today get your weather forecast</h4>
    <nav>
        <a href="/">Forecast</a>
        <a href="/about">Contact Me</a>
        <a href="/help">Help</a>
    </nav>
</header>