* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333333;
    background-color: white;
    font-family: arial;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 15px;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

nav a {
    border-right: 1px solid #cccccc;
    width: 100%;
    padding-left: 16px;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 16px;
}

header {
    margin-bottom: 40px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

footer a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
    height: 300px;
    margin: 20px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
    margin-bottom: 15px;
    margin-top: 18px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background-color: #888888;
    color: #ffffff;
    padding: 8px;
}

ul {
    line-height: 1.5rem;
    margin-left: 25px;
}

.contact {
    width: 20px;
    height: 20px;
    background-color: red;
}